
textarea {
	resize: none;
}
 a {
	text-decoration: none;
 }
.image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
	margin-bottom: 5px;
}

@media screen and (min-width: 376px) and (max-width: 510px) {
	.image {
		width: 500px;
		margin-left: -8px;
	}
}

@media screen and (min-width: 300px) and (max-width: 375px) {
	.image {
		width: 375px;
		margin-left: -8px;
	}
}

.commentsArea {
	display: flex;
	align-items: center;
	justify-content: center;
}

.commentBox {
	width: 444px;
	height: 42px;
	padding: 10px;
	border-radius: 2px;
	background-color: #fffff8;
	font-family: 'Roboto Mono', monospace;
	font-weight: bold;
	margin-bottom: 0px;
}

.submitButton {
	height: 62px;
	padding: 10px;
	border-radius: 4px;
	font-family: 'Roboto Mono', monospace;
	margin-bottom: 2px;
}

.allCommentsPos{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.allComments{
	width: 500px;
	padding: 17px;
	border-radius: 1px;
	background-color: #fffff8;
	font-family: 'Roboto Mono', monospace;
	margin-bottom: 2px;

}

.likeButton {
	height: 52px;
	padding: 10px;
	border-radius: 4px;
	font-family: 'Roboto Mono', monospace;
}


.redirects {
	font-size: 2rem;
	font-family: 'Roboto', sans-serif;
}

.login {
	display: flex;
	align-items: left;
	justify-content: left;
	width: 120px;
}
.signupBox {
	position:relative;
}
  .signup {
	position: absolute;
	bottom: 5;
	right: -14;
	width: 150px;
}

body {
	background: white;
	overflow-x: hidden;
}
.header {
	background: rgb(255, 255, 255);
	color: #f1f1f1;
}

.sticky {
	position: fixed;
	top: 10;
	width: 100%

}

.stickyB {
	position: fixed;
	display: flex;
	align-items: right;
	/* justify-content: right:
	width: 100% */
}
.sticky + .content {
	padding-top: 102px;
}
.imagee {
	position: fixed;
	top: 10;
	right: 25;
	width: 50px;
}
.imagee:hover {
	-webkit-animation:spin 2s linear infinite;
		-moz-animation:spin 2s linear infinite;
		animation:spin 2s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
a {
	font-family: 'Averia Serif Libre', cursive;
}
.login {
	display: flex;
	align-items: left;
	justify-content: left;
	width: 120px;
}
hr {
	width: 2000px;
	height: 0px;
	background: black;
	position: fixed;
	top: 60px;
	right: -1px;
}
.meta {
	width: 2000px;
	height: 80px;
	background: white;
	position: fixed;
	top: -10px;
	right: 0px;
}